@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="container-fluid">
    <div class="row align-items-center" style="height: 100vh;">
        <!-- Change Password Form -->
        <div class="col-md-6 bg-white p-5 mx-auto">
            <div class="text-center mb-5">
                <img src="/images/login-logo.jpg" alt="Bazaarly Logo" class="mb-3" style="width: 200px;" />
                <h2 class="font-weight-bold">Change Your Password</h2>
            </div>

            <form id="change-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                <!-- Old Password Input -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" placeholder="Old Password" />
                    <label asp-for="Input.OldPassword">Old Password</label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>

                <!-- New Password Input -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" placeholder="New Password" />
                    <label asp-for="Input.NewPassword">New Password</label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>

                <!-- Confirm New Password Input -->
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" placeholder="Confirm New Password" />
                    <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <!-- Update Password Button -->
                <button type="submit" class="btn btn-lg w-100" style="background-color: #c8a71f; color: white;">Update Password</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
